{% extends "layout.html"%}
{%block content%}
<div class="media">
    <img class="rounded-circle account-img" src={{url_for('static', filename='profile_pics/'+current_user.image_file)}}>
    <div class="media-body">
      <h2 class="account-heading">{{ current_user.username }}</h2>
      <p class="text-secondary">{{current_user.user_role}}</p>
    </div>
  </div>

  {% if current_user.user_role=='Student'%}
<!--Header-->
    <div class="w3-container w3-padding-32" id="projects">
      <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">Classes</h3>
    </div>
<!--first row-->
    <div class="w3-row-padding">
<!--Mathematics-->
      <div class="w3-col l3 m6 w3-margin-bottom">
        <div class="w3-display-container">
          <div class="w3-display-topleft w3-black w3-padding">Mathematics</div>
          <a href="{{url_for('classroom', course_id='1')}}"><img src="{{url_for('static', filename='images/hs.jpg')}}"class="w3-round w3-image w3-hover-opacity" alt="House" style="width:100%"></a>
        </div>
      </div>
<!--Physics-->
      <div class="w3-col l3 m6 w3-margin-bottom">
        <div class="w3-display-container">
          <a href="#"><div class="w3-display-topleft w3-black w3-padding">Physics</div></a>
          <a href="{{url_for('classroom', course_id='2')}}"><img src="{{url_for('static', filename='images/hs.jpg')}}"class="w3-round w3-image w3-hover-opacity" alt="House" style="width:100%"></a>
        </div>
      </div>

      <div class="w3-col l3 m6 w3-margin-bottom">
        <div class="w3-display-container">
          <a href="#"><div class="w3-display-topleft w3-black w3-padding">Chemistry</div></a>
          <a href="{{url_for('classroom', course_id='3')}}"><img src="{{url_for('static', filename='images/hs.jpg')}}"class="w3-round w3-image w3-hover-opacity" alt="House" style="width:100%"></a>
        </div>
      </div>
<!--Biology-->
      <div class="w3-col l3 m6 w3-margin-bottom">
        <div class="w3-display-container">
          <a href="{{url_for('classroom', course_id='4')}}"><div class="w3-display-topleft w3-black w3-padding"> Biology</div></a>
          <a href="#"><img src="{{url_for('static', filename='images/hs.jpg')}}"class="w3-round w3-image w3-hover-opacity" alt="House" style="width:100%"></a>
        </div>
      </div>
    </div>
<!--Second row-->
    <div class="w3-row-padding">
      <div class="w3-col l3 m6 w3-margin-bottom">
        <div class="w3-display-container">
          <a href="{{url_for('classroom', course_id='5')}}"><div class="w3-display-topleft w3-black w3-padding"> Accounting</div></a>
          <a href="#"><img src="{{url_for('static', filename='images/hs.jpg')}}"class="w3-round w3-image w3-hover-opacity" alt="House" style="width:100%"></a>
        </div>
      </div>
      <div class="w3-col l3 m6 w3-margin-bottom">
        <div class="w3-display-container">
          <a href="#"><div class="w3-display-topleft w3-black w3-padding"> Geography</div></a>
          <a href="{{url_for('classroom', course_id='6')}}"><img src="{{url_for('static', filename='images/hs.jpg')}}" class="w3-round w3-image w3-hover-opacity" alt="House" style="width:100%"></a>
        </div>
      </div>
      <div class="w3-col l3 m6 w3-margin-bottom">
        <div class="w3-display-container">
          <a href="{{url_for('classroom', course_id='7')}}"><div class="w3-display-topleft w3-black w3-padding">History</div></a>
          <a href="#"><img src="{{url_for('static', filename='images/hs.jpg')}}"class="w3-round w3-image w3-hover-opacity"  alt="House" style="width:100%"></a>
        </div>
      </div>
      <div class="w3-col l3 m6 w3-margin-bottom">
        <div class="w3-display-container">
          <a href="{{url_for('classroom', course_id='8')}}"><div class="w3-display-topleft w3-black w3-padding"> English</div></a>
          <a href="#"><img src="{{url_for('static', filename='images/hs.jpg')}}" class="w3-round w3-image w3-hover-opacity" alt="House" style="width:100%"></a>
        </div>
      </div>
    </div>
    </article>
    
  {%endif%}

  {% if current_user.user_role=='Lecturer'%}
    <div class="row">
      <div class="col-md-3">
        <a href="{{url_for('upload_file')}}" class="btn btn-primary btn-lg"> Upload File</a>
      </div>
      <div class="col-sm-3">
        <a href="{{url_for('ViewSubmited')}}" class="btn btn-secondary btn-lg"> Assignments</a>
      </div>
      <div class="col-sm-3">
        <a href="{{url_for('ViewSubmited')}}" class="btn btn-primary btn-lg"> Students</a>
      </div>
    </div>
  {%endif%}

  {% if current_user.user_role=='Parent'%}
<div class="row">
  <div class="col=sm-3">
    <a href="#" class="btn btn-primary btn-md"> Donate</a>
  </div>

  <div class="col-sm-9">
    <form action="student_search" method="POST">
      {{ form.hidden_tag() }}
      <div class="form-group">
          {%if form.name.errors%}
            {{form.name(class="form-control  form-control-lg is-invalid")}} 
            <div class="invalid-feedback">
                {%for error in form.name.errors%}
                    <span>{{error}}</span>
                {%endfor%}
            </div>
        {%else%}
            {{form.name(class="form-control  form-control-lg ", placeholder="search your Student's name here" )}} 
        {%endif%}
      </div>
      <button type="search" class="btn btn-secondary">Search</button>
    </form>
  </div>
</div>
  {%endif%}
  {%endblock%}